:global(:root) {
  --color-footer-background-color: #e6e0e0;
  --color-footer-text-color: black;
  --color-footer-linklogo-color: black;
  --color-footer-bubble-color: #1f1d1d;
  --color-footer-bubble-text-color: white;
  --color-footer-card-icon: black;
}

:global([data-theme="dark"]) {
  --color-footer-background-color: rgb(25, 29, 36);
  --color-footer-text-color: rgb(166, 173, 187);
  --color-footer-linklogo-color: white;
  --color-footer-bubble-color: white;
  --color-footer-bubble-text-color: rgb(134, 126, 126);
  --color-footer-card-icon: white;
}

.footerContainer {
  background: var(--color-footer-background-color);
  min-width: 760px;
}

.footerContainer p {
  font-size: 14px;
  color: var(--color-footer-text-color);
  transition: color 0.35s;
}
