:global(:root) {
  --pl-title-color: black;
  --pl-des-color: rgb(31, 41, 55);
  --pl-des-background-color: rgb(229, 231, 235);
}

:global([data-theme="dark"]) {
  --pl-title-color: rgb(212, 218, 230);
  --pl-des-color: rgb(166, 173, 187);
  --pl-des-background-color: rgb(55, 65, 81);
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
  max-width: 1360px;
  width: 100%;
  padding: 48 16 32;
  margin: 0 auto;
  margin-top: 40px;
}

.listContainer:not(:last-child) {
  margin-bottom: 120px;
}

.listContainer a {
  pointer-events: none;
  width: 100%;
}

.listContainer:last-child {
  padding-bottom: 150px;
}

.categoryTitle {
  display: flex;
  color: var(--pl-title-color);
  transition: color 0.35s;
  font-size: 2rem;
}

img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.productTitle {
  width: 200px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--pl-title-color);
}

.price {
  color: var(--pl-title-color);
}
