.cardContainer {
  max-width: 1080px;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: auto 40px;
  min-width: 700px;
}

.cardDes {
  margin-top: 20px;
}

.rating {
  height: 70px;
  margin-top: 100px;
  pointer-events: none;
}

.imgContainer {
  margin-left: 10px;
}

.wrap {
  min-height: calc(100vh - 200px);
  max-width: 1300px;
  margin: 100px auto;
}
